In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_csv('Car details v3.csv')

In [3]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.0 kmpl,1396 CC,90 bhp,22.4 kgm at 1750-2750rpm,5.0
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.1 kmpl,1298 CC,88.2 bhp,"11.5@ 4,500(kgm@ rpm)",5.0

In [4]:
df.shape

(8128, 13)

In [21]:
df.drop(columns=['torque'],inplace=True)
df.drop(columns=['engine'],inplace=True)
df.drop(columns=['max_power'],inplace=True)
df.drop(columns=['seller_type'],inplace=True)

In [5]:
df.isnull().sum()

name               0
year               0
selling_price      0
km_driven          0
fuel               0
seller_type        0
transmission       0
owner              0
mileage          221
engine           221
max_power        215
torque           222
seats            221
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [7]:
df.duplicated().sum()

1202

In [8]:
df.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

In [9]:
df.dropna(inplace=True)

In [10]:
df.shape

(7906, 13)

In [11]:
df.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [12]:
df = df.drop_duplicates(keep='first')

In [13]:
df.shape

(6717, 13)

In [14]:
df.duplicated().sum()

0

In [15]:
df['seats'] = df['seats'].astype('int32')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6717 entries, 0 to 8125
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           6717 non-null   object
 1   year           6717 non-null   int64
 2   selling_price  6717 non-null   int64
 3   km_driven      6717 non-null   int64
 4   fuel           6717 non-null   object
 5   seller_type    6717 non-null   object
 6   transmission   6717 non-null   object
 7   owner          6717 non-null   object
 8   mileage        6717 non-null   object
 9   engine         6717 non-null   object
 10  max_power      6717 non-null   object
 11  torque         6717 non-null   object
 12  seats          6717 non-null   int32
dtypes: int32(1), int64(3), object(9)
memory usage: 708.4+ KB

In [17]:
# Handling mileage col
df['mileage'] = df['mileage'].str.split(expand=True)[0]
df['mileage'] = df['mileage'].astype('float64')

In [20]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.40,1248,74.00,190Nm@ 2000rpm,5
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14,1498,103.52,250Nm@ 1500-2500rpm,5
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.70,1497,78.00,"12.7@ 2,700(kgm@ rpm)",5
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Individual,Manual,First Owner,23.00,1396,90.00,22.4 kgm at 1750-2750rpm,5
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Individual,Manual,First Owner,16.10,1298,88.20,"11.5@ 4,500(kgm@ rpm)",5

In [22]:
df.head()

,name,year,selling_price,km_driven,fuel,transmission,owner,mileage,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Manual,First Owner,23.40,5
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Manual,Second Owner,21.14,5
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Manual,Third Owner,17.70,5
3,Hyundai i20 Sportz Diesel,2010,225000,127000,Diesel,Manual,First Owner,23.00,5
4,Maruti Swift VXI BSIII,2007,130000,120000,Petrol,Manual,First Owner,16.10,5

In [23]:
df['name'].unique().shape

(1982,)

In [24]:
# extracting brand from name
df['brand'] = df['name'].str.split(expand=True)[0]

In [25]:
df.drop(columns=['name'],inplace=True)
df.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,seats,brand
0,2014,450000,145500,Diesel,Manual,First Owner,23.40,5,Maruti
1,2014,370000,120000,Diesel,Manual,Second Owner,21.14,5,Skoda
2,2006,158000,140000,Petrol,Manual,Third Owner,17.70,5,Honda
3,2010,225000,127000,Diesel,Manual,First Owner,23.00,5,Hyundai
4,2007,130000,120000,Petrol,Manual,First Owner,16.10,5,Maruti

In [26]:
freq_brands = df['brand'].value_counts()[df['brand'].value_counts()>100].index.tolist()

In [27]:
df = df[df['brand'].isin(freq_brands)]

In [28]:
df.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,seats,brand
0,2014,450000,145500,Diesel,Manual,First Owner,23.40,5,Maruti
2,2006,158000,140000,Petrol,Manual,Third Owner,17.70,5,Honda
3,2010,225000,127000,Diesel,Manual,First Owner,23.00,5,Hyundai
4,2007,130000,120000,Petrol,Manual,First Owner,16.10,5,Maruti
5,2017,440000,45000,Petrol,Manual,First Owner,20.14,5,Hyundai

In [29]:
freq_fuel = ['Diesel','Petrol']
df = df[df['fuel'].isin(freq_fuel)]

In [30]:
df = df[df['owner'].isin(['First Owner','Second Owner','Third Owner'])]

In [31]:
df.shape

(6040, 9)

In [32]:
q1 = df['km_driven'].quantile(0.25)
q3 = df['km_driven'].quantile(0.75)
iqr = q3 - q1

In [33]:
max_val_km_driven = q3 + 1.5*iqr

In [34]:
max_val_km_driven

193000.0

In [35]:
df.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,seats,brand
0,2014,450000,145500,Diesel,Manual,First Owner,23.40,5,Maruti
2,2006,158000,140000,Petrol,Manual,Third Owner,17.70,5,Honda
3,2010,225000,127000,Diesel,Manual,First Owner,23.00,5,Hyundai
4,2007,130000,120000,Petrol,Manual,First Owner,16.10,5,Maruti
5,2017,440000,45000,Petrol,Manual,First Owner,20.14,5,Hyundai

In [36]:
df['km_driven'] = np.where(df['km_driven']>max_val_km_driven,max_val_km_driven,df['km_driven'])

In [37]:
df = df[df['year'] >= 2000]

In [38]:
mean_mileage = df[df['mileage'] !=0]['mileage'].median()
mean_mileage

19.7

In [39]:
df['mileage'] = np.where(df['mileage'] == 0,mean_mileage,df['mileage'])

In [40]:
df.shape

(6013, 9)

In [41]:
df.head()

,year,selling_price,km_driven,fuel,transmission,owner,mileage,seats,brand
0,2014,450000,145500.0,Diesel,Manual,First Owner,23.40,5,Maruti
2,2006,158000,140000.0,Petrol,Manual,Third Owner,17.70,5,Honda
3,2010,225000,127000.0,Diesel,Manual,First Owner,23.00,5,Hyundai
4,2007,130000,120000.0,Petrol,Manual,First Owner,16.10,5,Maruti
5,2017,440000,45000.0,Petrol,Manual,First Owner,20.14,5,Hyundai

In [42]:
X = df.drop(columns=['selling_price'])
y = df['selling_price']
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [43]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder
from sklearn.compose import ColumnTransformer

In [44]:
tnf = ColumnTransformer(
    [
        ('ordinal',OrdinalEncoder(),['owner']),
        ('nominal',OneHotEncoder(drop='first',sparse=False),['fuel','transmission','brand'])
    ], remainder='passthrough'
)

In [45]:
X_train_tnf = tnf.fit_transform(X_train)
X_test_tnf = tnf.transform(X_test)

In [46]:
from sklearn.linear_model import LinearRegression

In [47]:
lr = LinearRegression()

In [48]:
lr.fit(X_train_tnf,y_train)

LinearRegression()

In [49]:
y_pred = lr.predict(X_test_tnf)

In [50]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)

0.6765386706034324

In [52]:
from sklearn.preprocessing import PolynomialFeatures
poly = PolynomialFeatures(degree=2)

In [53]:
X_train_poly = poly.fit_transform(X_train_tnf)
X_test_poly = poly.transform(X_test_tnf)

In [54]:
lr = LinearRegression()
lr.fit(X_train_poly,y_train)
y_pred = lr.predict(X_test_poly)
r2_score(y_test,y_pred)

0.8010645460627935

In [55]:
from sklearn.pipeline import Pipeline
pipe = Pipeline(
    [
        ('col-transformer',tnf),
        ('poly',poly),
        ('lr',lr)
    ]
)

pipe.fit(X_train,y_train)
y_pred = pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8010645460627935

In [56]:
import pickle
pickle.dump(pipe,open('harsh.pkl','wb'))

In [57]:
X_train['brand'].value_counts()

Maruti        1542
Hyundai        930
Mahindra       547
Tata           516
Ford           277
Honda          276
Toyota         251
Renault        170
Chevrolet      164
Volkswagen     137
Name: brand, dtype: int64

In [58]:
y_train

1266      95000
969      300000
8039     135000
375     2000000
5767     625000
         ...
1405     125000
3185     570000
4770     780000
7654     500000
3265     670000
Name: selling_price, Length: 4810, dtype: int64

In [59]:
X_train

,year,km_driven,fuel,transmission,owner,mileage,seats,brand
1266,2005,70000.0,Petrol,Manual,Third Owner,19.70,5,Maruti
969,2012,70000.0,Diesel,Manual,First Owner,23.20,5,Maruti
8039,2011,110048.0,Petrol,Manual,Third Owner,20.92,5,Maruti
375,2016,68089.0,Petrol,Automatic,First Owner,19.16,5,Toyota
5767,2015,30000.0,Diesel,Manual,First Owner,26.00,5,Honda
...,...,...,...,...,...,...,...,...
1405,2011,85000.0,Diesel,Manual,Second Owner,18.00,5,Tata
3185,2018,20000.0,Petrol,Manual,First Owner,18.90,5,Hyundai
4770,2016,60000.0,Diesel,Manual,First Owner,22.77,5,Ford
7654,2018,25000.0,Petrol,Manual,First Owner,23.84,5,Tata
3265,2017,48000.0,Diesel,Manual,First Owner,22.54,5,Hyundai